<section id="profile-orders">
  <% @orders.each do |order| %>
  <ul>
    <%= link_to "Order: #{order.id}", "/orders/#{order.id}" %>
  </ul>
  <ul>
    <% if order.status? %>
      <p>Status: Shipped</p>
    <% else %>
      <p>Status: Pending</p>
    <% end %>
  </ul>
  <% end %>
</section>
