<h1>Users</h1>
<h2>Roles: Admin: 2, merchant_employee: 1, regular user: 0</h2>
<% @users.each do |user| %>
<%= "User Role: #{user.role}, Register Date: #{user.created_at}"  %>
<%= link_to "#{user.name}", "/admin/users/#{user.id}" %><br>
<% end %>
